*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;  /* Disable scroll on use of arrow keys */
}

.game-container{
    position: relative;
    width: 352px;
    height: 198px;
    outline: 1px solid #fff;
    margin: 0 auto;
    transform: scale(3) translateY(50%);
}
.game-container canvas{
    image-rendering: pixelated;
}